.card {
    background: #ffffff;
    border-radius: 16px;
    padding: 22px;

    min-height: 130px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

    box-sizing: border-box;
}

/* Ícone */

.card i {
    font-size: 22px;
    color: #e53935;

    margin-bottom: 12px;
}

/* Título */

.card p {
    margin: 0 0 6px;

    color: #777;
    font-size: 14px;
}

/* Valor */

.card h2 {
    margin: 0;

    color: #222;
    font-size: 24px;
    font-weight: 700;
}

.card .icon-blue {
    color: #2196f3;
}

.card .icon-green {
    color: #00c853;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}