/* =========================
   RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Inter", Arial, sans-serif;
  background: #f5f7fb;
  color: #111827;

  overflow-x: hidden;
}


/* =========================
   CONTEÚDO PRINCIPAL
========================= */

.main {
  width: calc(100% - 250px);
  min-height: 100vh;

  margin-left: 250px;

  background: #f5f7fb;

  transition:
    width 0.3s ease,
    margin-left 0.3s ease;
}


/* =========================
   TABLET
========================= */

@media (max-width: 900px) {

  .main {
    width: calc(100% - 80px);
    margin-left: 80px;
  }

}


/* =========================
   CELULAR
========================= */

@media (max-width: 600px) {

  .main {
    width: calc(100% - 70px);
    margin-left: 70px;
  }

}